@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  @apply text-slate-800 bg-light overflow-x-hidden; /* Default bg ganti ke light */
}

/* Warna saat teks di-select/blok */
::selection {
  @apply bg-primary text-white;
}

/* Custom Scrollbar Modern */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full border-2 border-dark hover:bg-primary transition-colors;
}
