@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  @apply text-slate-800 bg-light transition-colors duration-300 overflow-x-hidden;
  @apply dark:bg-dark dark:text-slate-200; 
}

::selection {
  @apply bg-primary text-white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-light dark:bg-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-700 rounded-full border-2 border-light dark:border-dark hover:bg-primary transition-colors;
}
